.ContentWrapper {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    padding-top: 2rem;
}

.ContextBox {
    width: 100%;
    height: 20rem;
    background-color: #EFEFEF;
    z-index: 1;
    border-radius: 5px;
}

.BottomBar {
    bottom: 0px;
    background-color: #845EC2;
    height: 30px;
    width: 100%;
    z-index: 5;
    position: absolute;
    text-align: center;
    align-content: center;
    align-items: center;
    display: flex;
}

.TranslateButton {
    float: left;
    margin-left: 30px;
    border-radius: 10px;
    font-size: 14px;
}