.Header {
    background: #FFC75F;
    color: white;
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
}

.HeaderText {
    flex: 1;
    color: white;
    width: 100%;
}

.HeaderProfile {
    margin-top: 30px;
    width: 20%;
    height: 2rem;
    display: inline-flex;
    background-color: #EFEFEF;
    border-radius: 20px;
    text-align: right;
    box-shadow: 1px 3px #999;
}

.ProfilePicture {    
    color: white;
    max-width: 100%;
    max-height: 100%;
    background: transparent;
    margin-left: auto;
}

.ProfilePictureName {    
    color: black;
    margin: auto;
    margin-left: 40%;
    font-size: 1.25rem;
 }

.Logo{    
    color: white;
    max-width: 10%;
    max-height: 10%;
    background: transparent;
}