.KeyboardImage {
    width: 30px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background: transparent;
    align-self: center;
}

.ArrowImage {
    color: white;
    max-width: 100%;
    max-height: 100%;
    background: transparent;
}

.InputContainer{
    display: flex;
    border-radius: 20px;
    width: 50%;
    border:solid black 1px;
    box-shadow: 0 3px 5px black ;    
    margin-left:20%;
    margin-top: 4rem;
}

.InputComponent {
    display: flex;
    max-width: 100%;
    border-radius: 20px;
    background-color: #EFEFEF;
    border:solid #ccc 1px;
    box-shadow: 0 3px 10px  #ccc ;    
}

input {
    background-color: #EFEFEF;
    width: 100‰;
    border: none;
    outline: none;
    flex: 1;
}

.Button {
    background-color: #845EC2;
    border:solid black 1px;
    box-shadow: 0 1px #999;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
}

#InputComponentLogin {
    margin:20px;
    margin-left: 20%;
}

#InputComponentMainpage {
    margin-top: 20px;
}