.TranslationsList{
    max-width: 60%;
    list-style-type: circle;
    background: #EFEFEF;
    box-shadow: 0 3px 5px black ;
    border-radius: 20px;
}

.Buttons{
    display: inline-flex;
    text-align: center;
    margin-right: 1rem;
    width: 6rem;
    height: 2.5rem;
    border-radius: 5px;
}

#DeleteButton{
    background-color: rgb(212, 92, 92);

}
#LogoutButton{
    background-color: rgb(124, 209, 124);
}
#MainpageButton{
    background-color: rgb(209, 77, 209);
}